*{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.login{
    text-align: center;
    margin: auto;
    margin-top: 10%; 
    background-color:  #12448E;
    width: 30%;
    border-radius: 40px;
}

.input-box{
    padding: 10px;
    margin: 5%;
    margin-bottom: 50px;
    font-size: 26px;
    background-color: white;
    border-radius: 15px;
}

.input-box>input{
    border-radius: 15px;
    font-size: 90%;
    background-color: #AAAAAA;
    border: none;
    height: 30px;
}

h1{
    color: white;
    text-shadow: 1px 2px 1px black;
    font-size: 50px;
    padding: 4%;
    letter-spacing: 2px;
}

button{
    font-size: 36px;
    border-radius: 1050px;
    border: 0;
    padding: 10px;
    width: 55%;
    margin-bottom: 3%;
}

a:link{
    color: white;
    text-decoration: none;
}

a{
    color: white;
}

.login>h3{
    padding: 10px;
    color: white;
}

body>a{
    font-size: 26px;
    padding-left: 1%;
    text-shadow: 2px 2px 2px #12448E;
    color: black;
}
