.descriptions{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4%;
    padding: 2%;
}

.plot{
    background-color: #D9D9D9;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    transition: all .2s ease-in-out; 
}

.plot:hover{
    transform: scale(1.05);
}

h1{
    font-size: 36px;
    padding: 3%;
    text-align: center;
}

.plot>p{
    padding: 4%;
}

.mainCharacters{
    background-color: #D9D9D9;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    transition: all .2s ease-in-out;
    margin-top: 20%;
    margin-bottom: 20%;
}

.mainCharacters:hover{
    transform: scale(1.05);
}

.mainCharacters>ul{
    margin-left: 43%;
    margin-top: 8%;
}

.mainCharacters>ul>li{
    padding-bottom: 4%;
}

a{
    color: white;
}

a:link{
    text-decoration: none;
}